sudo: false
language: python

branches:
  except:
    - gh-pages

python:
  - "2.7"
  - "3.4"

before_install:
  - wget http://repo.continuum.io/miniconda/Miniconda-latest-Linux-x86_64.sh -O miniconda.sh
  - bash miniconda.sh -b -p $HOME/miniconda
  - export PATH="$HOME/miniconda/bin:$PATH"
  - conda update --yes conda

install:
  - conda install --yes python=$TRAVIS_PYTHON_VERSION --file requirements.txt
  - pip install pathlib
  - pip install pytest-cov
  - pip install coveralls
  - pip install hypothesis
  - python setup.py install

cache:
  directories:
    - $HOME/.cache/pip

# command to run tests, e.g. python setup.py test
script:
  - py.test --cov .

after_success:
  - coveralls
